<button nz-button (click)="submitClick()" [nzType]="'default'" [nzLoading]="_submitLoading">提交</button>

<nz-spin [nzSpinning]="_dataLoading">
  <nz-table #nzTable [nzDataSource]="_data" [nzPageSize]="50" [nzScroll]="{ y: 650 }">
    <thead nz-thead>
      <tr>
        <th nz-th *ngFor="let title of _titleArr">
          <ng-container [ngSwitch]="title.id">
            <ng-container *ngSwitchCase="'C3_561550223794'">标准数总金额</ng-container>
            <ng-container *ngSwitchCase="'C3_561550234465'">分配数总金额</ng-container>
            <ng-container *ngSwitchCase="'C3_561550460169'">调整数总金额</ng-container>
            <ng-container *ngSwitchCase="'C3_561550653754'">金额差值</ng-container>
            <ng-container *ngSwitchCase="'C3_561571697273'">部门调整值总金额</ng-container>
          </ng-container>
        </th>
      </tr>
      <tr>
        <th nz-th *ngFor="let title of _titleArr;let last = last">
          <ng-container *ngIf="sumColArr.indexOf(title.id) !== -1 && title.id != 'C3_561550653754'">
            {{getColSumMoney(title.id)}}
          </ng-container>
          <ng-container *ngIf="title.id == 'C3_561550653754'">
            {{getDiffMoney()}}
          </ng-container>
        </th>
      </tr>
      <tr>
        <th nz-th *ngFor="let title of _titleArr">
          <ng-container [ngSwitch]="title.id">
            <ng-container *ngSwitchCase="'C3_561550223794'">标准数总数</ng-container>
            <ng-container *ngSwitchCase="'C3_561550234465'">分配数总数</ng-container>
            <ng-container *ngSwitchCase="'C3_561550460169'">调整数总数</ng-container>
            <ng-container *ngSwitchCase="'C3_561550653754'">价值总数</ng-container>
            <ng-container *ngSwitchCase="'C3_561571697273'">部门调整值总数</ng-container>
          </ng-container>
        </th>
      </tr>
      <tr>
        <th nz-th *ngFor="let title of _titleArr">
          <ng-container *ngIf="sumColArr.indexOf(title.id) !== -1">
            {{getColSum(title.id)}}
          </ng-container>
        </th>
      </tr>
      <tr>
        <th nz-th *ngFor="let title of _titleArr">
          <span>{{title.text}}</span>

          <ng-container *ngIf="sortColArr.indexOf(title.id) !== -1">
            <nz-table-sort [(nzValue)]="sortMap[title.id]" (nzValueChange)="sort('' + title.id,$event)"></nz-table-sort>
          </ng-container>

          <ng-container *ngIf="filterColArr.indexOf(title.id) !== -1">
            <nz-dropdown [nzTrigger]="'click'">
              <i class="anticon anticon-filter" nz-dropdown></i>
              <ul nz-menu class="rsu-filter-dropdown">
                <li nz-menu-item *ngFor="let filter of filterArrayMap[title.id]">
                  <label nz-checkbox [(ngModel)]="filter.value">
                      <span>{{filter.name}}</span>
                </label>
                </li>
              </ul>
              <div nz-table-filter>
                <span nz-table-filter-confirm (click)="search()">OK</span>
                <span nz-table-filter-clear (click)="reset(filterArrayMap[title.id + ''])">Reset</span>
              </div>
            </nz-dropdown>
          </ng-container>
        </th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td *ngFor="let title of _titleArr">
          {{data[title.id]}}
        </td>

      </tr>
    </tbody>
  </nz-table>
</nz-spin>