<div class="window-model-container">
    <div class="components-table-demo-control-bar">
        <form nz-form [nzLayout]="'inline'">
            <div nz-row nz-form-item>
                <button nz-button (click)="goBack()">
                    <span>返回</span>
                </button>
            </div>
            <div nz-row nz-form-item>
                <button nz-button (click)="submitClick()" *ngIf="!detail">
                    <span>提交</span>
                </button>
            </div>
        </form>
    </div>

    <nz-table #nzTableHeader [nzDataSource]="[data]" [nzBordered]="true" [nzIsPagination]="false">
        <tbody nz-tbody>
            <tr nz-tbody-tr>
                <td nz-td>搬入日期</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658250665']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658250665" [data]="data" [title]="_data.C3_561658250665" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>物资带入人</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658278376']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658278376" [data]="data" [title]="_data.C3_561658278376" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>公司/部门</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658304534']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658304534" [data]="data" [title]="_data.C3_561658304534" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>联系方式</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658321989']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658321989" [data]="data" [title]="_data.C3_561658321989" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>搬入车辆</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658332549']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658332549" [data]="data" [title]="_data.C3_561658332549" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>车牌号</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658353216']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658353216" [data]="data" [title]="_data.C3_561658353216" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>司机姓名</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658363145']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658363145" [data]="data" [title]="_data.C3_561658363145" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>联系方式</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658373035']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658373035" [data]="data" [title]="_data.C3_561658373035" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>入厂时间</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658387164']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658387164" [data]="data" [title]="_data.C3_561658387164" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>搬入处</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658423083']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658423083" [data]="data" [title]="_data.C3_561658423083" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>区分</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658542194']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658542194" [data]="data" [title]="_data.C3_561658542194" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>入厂保安确认</td>
                <td nz-td [attr.colspan]="3">
                    <ng-container *ngIf="detail">
                        {{data['C3_561658590173']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658590173" [data]="data" [title]="_data.C3_561658590173" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>

            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="2">接待部门出门确认</td>
                <td nz-td [attr.colspan]="2">
                    <ng-container *ngIf="detail">
                        {{data['C3_561658640749']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658640749" [data]="data" [title]="_data.C3_561658640749" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td [attr.colspan]="2">保安确认</td>
                <td nz-td [attr.colspan]="2">
                    <ng-container *ngIf="detail">
                        {{data['C3_561658652984']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658652984" [data]="data" [title]="_data.C3_561658652984" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="child-table">
        <ng-container *ngIf="detail">
            <app-lzcommon-table [isAttachDataModal]="true" [alertModal]="true" [isAutoData]="true" [requestType]="'GET'" [requestUrl]="url" [requestParams]="requestParams" [requestDataType]="requestDataType">
            </app-lzcommon-table>
        </ng-container>
        <ng-container *ngIf="!detail">
            <common-local-data [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [alertModal]="true" [resid]="subResid" [ldData]="_ldData" (updateEM)="updateData($event)" [addFormName]="addFormName" [operationOrginButton]="[true,true,false,true]" [tabs]="tabs"></common-local-data>
        </ng-container>
    </div>
</div>


<ng-container *ngIf="!_theMainModal">
    <lz-modal-frame (closeEM)="_theMainModal = true" [width]="700">
        <app-form-item-resource [alertModal]="true" [advDictionaryListData]="advDictionaryListData" [data]="data" (formItemResourceNoti)="formItemResourceNoti($event)"></app-form-item-resource>
    </lz-modal-frame>
</ng-container>