<div class="window-model-container">
    <div class="components-table-demo-control-bar">
        <form nz-form [nzLayout]="'inline'">
            <div nz-row nz-form-item>
                <button nz-button (click)="goBack()">
                    <span>返回</span>
                </button>
            </div>
            <div nz-row nz-form-item>
                <button nz-button (click)="submitClick()" *ngIf="!detail">
                    <span>提交</span>
                </button>
            </div>
        </form>
    </div>

    <nz-table #nzTableHeader [nzDataSource]="[data]" [nzBordered]="true" [nzIsPagination]="false">
        <tbody nz-tbody>
            <tr nz-tbody-tr>
                <td nz-td>搬出日期</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470413906']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470413906" [data]="data" [title]="_data.C3_563470413906" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>物资带出人</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470414140']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470414140" [data]="data" [title]="_data.C3_563470414140" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>公司/部门</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470414812']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470414812" [data]="data" [title]="_data.C3_563470414812" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>联系方式</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470415031']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470415031" [data]="data" [title]="_data.C3_563470415031" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>搬出车辆</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470415250']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470415250" [data]="data" [title]="_data.C3_563470415250" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>车牌号</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470415481']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470415481" [data]="data" [title]="_data.C3_563470415481" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>司机姓名</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470416075']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470416075" [data]="data" [title]="_data.C3_563470416075" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>联系方式</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470416606']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470416606" [data]="data" [title]="_data.C3_563470416606" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>出厂时间</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470417187']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470417187" [data]="data" [title]="_data.C3_563470417187" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>区分</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470417827']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470417827" [data]="data" [title]="_data.C3_563470417827" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td [attr.colspan]="4">
                </td>
            </tr>

            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="2">委托人资料</td>
                <td nz-td>部门</td>
                <td nz-td [attr.colspan]="1">
                    <ng-container *ngIf="detail">
                        {{data['C3_563470418469']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                            <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470418469" [data]="data" [title]="_data.C3_563470418469" (clickNotiEvent)="formItemDynamicClick($event)"
                                (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                        </ng-container>
                   
                </td>
                <td nz-td>姓名</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470420406']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470420406" [data]="data" [title]="_data.C3_563470420406" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>工号</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_563470420890']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563470420890" [data]="data" [title]="_data.C3_563470420890" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                
            </tr>
           
            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="2">委托部门审批</td>
                <td nz-td [attr.colspan]="1">审批人</td>
                <td nz-td [attr.colspan]="5">
                        <ng-container *ngIf="detail">
                                {{data['C3_563883155262']}}
                            </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="40" *ngIf="_data.C3_563883155262" [data]="data" [title]="_data.C3_563883155262" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                    
                </td>
               
             
            </tr>
            <tr nz-tbody-tr>
                <td nz-td [attr.rowspan]="2" [attr.colspan]="5">上述物品搬出已确认</td>
                <td nz-td [attr.colspan]="5">保安确认/日期</td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="5">
                    <ng-container *ngIf="detail">
                        {{data['C3_563898376197']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_563898376197" [data]="data" [title]="_data.C3_563898376197" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="child-table">
        <ng-container *ngIf="detail">
            <app-lzcommon-table [isAttachDataModal]="true" [alertModal]="true" [isAutoData]="true" [requestType]="'GET'" [requestUrl]="url" [requestParams]="requestParams" [requestDataType]="requestDataType">
            </app-lzcommon-table>
        </ng-container>
        <ng-container *ngIf="!detail">
            <common-local-data [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [alertModal]="true" [resid]="subResid" [ldData]="_ldData" (updateEM)="updateData($event)" [addFormName]="addFormName" [operationOrginButton]="[true,true,false,true]" [tabs]="tabs"></common-local-data>
        </ng-container>
    </div>
</div>


<ng-container *ngIf="!_theMainModal">
    <lz-modal-frame (closeEM)="_theMainModal = true" [width]="700">
        <app-form-item-resource [alertModal]="true" [advDictionaryListData]="advDictionaryListData" [data]="data" (formItemResourceNoti)="formItemResourceNoti($event)"></app-form-item-resource>
    </lz-modal-frame>
</ng-container>