<div class="window-model-container">
    <div class="components-table-demo-control-bar">
        <form nz-form [nzLayout]="'inline'">
            <div nz-row nz-form-item>
                <button nz-button (click)="goBack()">
                    <span>返回</span>
                </button>
            </div>
            <div nz-row nz-form-item>
                <button nz-button (click)="submitClick()" *ngIf="!detail">
                    <span>保存</span>
                </button>
            </div>
        </form>
    </div>

    <nz-table #nzTableHeader [nzDataSource]="[data]" [nzBordered]="true" [nzIsPagination]="false">
        <tbody nz-tbody>
            <tr nz-tbody-tr>
                    <td nz-td>物品是否带出</td>
                    <td nz-td>
                        <ng-container *ngIf="detail">
                            {{data['C3_565180710355']}}
                        </ng-container>
                        <ng-container *ngIf="!detail">
                            <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_565180710355" [data]="data" [title]="_data.C3_565180710355" (clickNotiEvent)="formItemDynamicClick($event)"
                                (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                        </ng-container>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>带入日期</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561653958068']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561653958068" [data]="data" [title]="_data.C3_561653958068" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>物资带入人</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561653976097']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561653976097" [data]="data" [title]="_data.C3_561653976097" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>带入人工号</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561653973779']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561653973779" [data]="data" [title]="_data.C3_561653973779" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>带入人公司/部门</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654129444']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654129444" [data]="data" [title]="_data.C3_561654129444" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
         
                <td nz-td>搬入处</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654076676']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654076676" [data]="data" [title]="_data.C3_561654076676" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>区分</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654098642']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654098642" [data]="data" [title]="_data.C3_561654098642" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                
            </tr>
          
        </tbody>
    </nz-table>

    <div class="child-table">
        <ng-container *ngIf="detail">
            <app-lzcommon-table [isAttachDataModal]="true" [alertModal]="true" [isAutoData]="true" [requestType]="'GET'" [requestUrl]="url" [requestParams]="requestParams" [requestDataType]="requestDataType" [operationOrginButton]="[true,false,false,false]" [tabs]="tabs">
            </app-lzcommon-table>
        </ng-container>
        <ng-container *ngIf="!detail">
            <common-local-data [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [alertModal]="true" [resid]="subResid" [ldData]="_ldData" (updateEM)="updateData($event)" [addFormName]="addFormName" [operationOrginButton]="editOperationOrginButton" [tabs]="tabs"></common-local-data>
        </ng-container>
    </div>
</div>


<ng-container *ngIf="!_theMainModal">
    <lz-modal-frame (closeEM)="_theMainModal = true" [width]="700">
        <app-form-item-resource [alertModal]="true" [advDictionaryListData]="advDictionaryListData" [data]="data" (formItemResourceNoti)="formItemResourceNoti($event)"></app-form-item-resource>
    </lz-modal-frame>
</ng-container>