<div class="window-model-container">
    <div class="components-table-demo-control-bar">
        <form nz-form [nzLayout]="'inline'">
            <div nz-row nz-form-item>
                <button nz-button (click)="detail ? close() : goBack()">
                    <span>返回</span>
                </button>
            </div>
            <div nz-row nz-form-item>
                <button nz-button (click)="submitClick()" *ngIf="!detail">
                    <span>提交</span>
                </button>
            </div>
        </form>
    </div>

    <nz-table #nzTableHeader [nzDataSource]="[data]" [nzBordered]="true" [nzIsPagination]="false">
        <tbody nz-tbody>
            <tr nz-tbody-tr>
                <td nz-td>搬出日期</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648705356']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648705356" [data]="data" [title]="_data.C3_561648705356" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>物资带出人</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648718493']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648718493" [data]="data" [title]="_data.C3_561648718493" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>公司/部门</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648769212']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648769212" [data]="data" [title]="_data.C3_561648769212" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>联系方式</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648790262']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648790262" [data]="data" [title]="_data.C3_561648790262" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>搬出车辆</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648813629']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648813629" [data]="data" [title]="_data.C3_561648813629" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>车牌号</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648820757']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648820757" [data]="data" [title]="_data.C3_561648820757" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>司机姓名</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648837854']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648837854" [data]="data" [title]="_data.C3_561648837854" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>联系方式</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648846303']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648846303" [data]="data" [title]="_data.C3_561648846303" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>出厂时间</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648899389']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648899389" [data]="data" [title]="_data.C3_561648899389" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>区分</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561648926062']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561648926062" [data]="data" [title]="_data.C3_561648926062" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td [attr.colspan]="4">
                </td>
            </tr>

            <tr nz-tbody-tr>
                <td nz-td [attr.rowspan]="2">委托人资料</td>
                <td nz-td>部门</td>
                <td nz-td [attr.colspan]="3">
                    <ng-container *ngIf="detail">
                        {{data['C3_561649020170']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561649020170" [data]="data" [title]="_data.C3_561649020170" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>备注</td>
                <td nz-td [attr.colspan]="4">特殊情况，无审批人签字的由行政部审批确认。</td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>姓名</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561649034242']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561649034242" [data]="data" [title]="_data.C3_561649034242" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>工号</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561649048171']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561649048171" [data]="data" [title]="_data.C3_561649048171" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>搬出意见</td>
                <td nz-td [attr.colspan]="4">
                    <ng-container *ngIf="detail">
                        {{data['C3_561649132110']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561649132110" [data]="data" [title]="_data.C3_561649132110" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td [attr.rowspan]="2">委托部门审批</td>
                <td nz-td [attr.colspan]="4">审批</td>
                <td nz-td [attr.rowspan]="2">许可部门审批</td>
                <td nz-td [attr.colspan]="4">审批</td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="4">
                    <ng-container *ngIf="detail">
                        {{data['C3_561649105932']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561649105932" [data]="data" [title]="_data.C3_561649105932" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td [attr.colspan]="4">
                    <ng-container *ngIf="detail">
                        {{data['C3_561649189367']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561649189367" [data]="data" [title]="_data.C3_561649189367" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td [attr.rowspan]="2" [attr.colspan]="5">上述物品搬出已确认</td>
                <td nz-td [attr.colspan]="5">保安确认/日期</td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="5">
                    <ng-container *ngIf="detail">
                        {{data['C3_561649232312']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561649232312" [data]="data" [title]="_data.C3_561649232312" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="child-table">
        <ng-container *ngIf="detail">
            <app-lzcommon-table [isAttachDataModal]="true" [alertModal]="true" [isAutoData]="true" [requestType]="'GET'" [requestUrl]="url" [requestParams]="requestParams" [requestDataType]="requestDataType">
            </app-lzcommon-table>
        </ng-container>
        <ng-container *ngIf="!detail">
            <common-local-data [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [alertModal]="true" [resid]="subResid" [ldData]="_ldData" (updateEM)="updateData($event)" [addFormName]="addFormName" [operationOrginButton]="[true,true,false,true]" [tabs]="tabs"></common-local-data>
        </ng-container>
    </div>
</div>


<ng-container *ngIf="!_theMainModal">
    <lz-modal-frame (closeEM)="_theMainModal = true" [width]="700">
        <app-form-item-resource [alertModal]="true" [advDictionaryListData]="advDictionaryListData" [data]="data" (formItemResourceNoti)="formItemResourceNoti($event)"></app-form-item-resource>
    </lz-modal-frame>
</ng-container>