<div class="window-model-container">
    <div class="components-table-demo-control-bar">
        <form nz-form [nzLayout]="'inline'">
            <div nz-row nz-form-item>
                <button nz-button (click)="goBack()">
                    <span>返回</span>
                </button>
            </div>
            <div nz-row nz-form-item>
                <button nz-button (click)="submitClick()" *ngIf="!detail">
                    <span>提交</span>
                </button>
            </div>
        </form>
    </div>

    <nz-table #nzTableHeader [nzDataSource]="[data]" [nzBordered]="true" [nzIsPagination]="false">
        <tbody nz-tbody>
            <tr nz-tbody-tr>
                <td nz-td>物资带出人</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654856540']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654856540" [data]="data" [title]="_data.C3_561654856540" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>姓名</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654859243']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654859243" [data]="data" [title]="_data.C3_561654859243" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>公司/部门</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654866129']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654866129" [data]="data" [title]="_data.C3_561654866129" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>联系方式</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654903484']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654903484" [data]="data" [title]="_data.C3_561654903484" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>出发日期/时间</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654930562']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654930562" [data]="data" [title]="_data.C3_561654930562" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>出发地保安确认</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654948698']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654948698" [data]="data" [title]="_data.C3_561654948698" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>到达日期/时间</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654965265']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654965265" [data]="data" [title]="_data.C3_561654965265" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>目的地保安确认</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561654980404']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561654980404" [data]="data" [title]="_data.C3_561654980404" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td>返回出发日期/时间</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561655153844']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561655153844" [data]="data" [title]="_data.C3_561655153844" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>出发地保安确认</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561657825855']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561657825855" [data]="data" [title]="_data.C3_561657825855" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>返回到达日期/时间</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561657913924']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561657913924" [data]="data" [title]="_data.C3_561657913924" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>目的地保安确认</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561657830582']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561657830582" [data]="data" [title]="_data.C3_561657830582" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>

            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="2">物资移动路线</td>
                <td nz-td>出发地</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561657940907']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561657940907" [data]="data" [title]="_data.C3_561657940907" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>目的地</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561657948134']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561657948134" [data]="data" [title]="_data.C3_561657948134" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>是否需要返回</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561657970037']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561657970037" [data]="data" [title]="_data.C3_561657970037" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
            </tr>
            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="2">委托人资料</td>
                <td nz-td>部门</td>
                <td nz-td [attr.colspan]="1">
                    <ng-container *ngIf="detail">
                        {{data['C3_561658024182']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658024182" [data]="data" [title]="_data.C3_561658024182" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>姓名</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658016233']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658016233" [data]="data" [title]="_data.C3_561658016233" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                <td nz-td>工号</td>
                <td nz-td>
                    <ng-container *ngIf="detail">
                        {{data['C3_561658011193']}}
                    </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="20" *ngIf="_data.C3_561658011193" [data]="data" [title]="_data.C3_561658011193" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                </td>
                
            </tr>
           
            <tr nz-tbody-tr>
                <td nz-td [attr.colspan]="2">委托部门审批</td>
                <td nz-td [attr.colspan]="1">审批人</td>
                <td nz-td [attr.colspan]="5">
                        <ng-container *ngIf="detail">
                                {{data['C3_563977742642']}}
                            </ng-container>
                    <ng-container *ngIf="!detail">
                        <app-form-item-dynamic [nSpan]="40" *ngIf="_data.C3_563977742642" [data]="data" [title]="_data.C3_563977742642" (clickNotiEvent)="formItemDynamicClick($event)"
                            (updateNotiEvent)="update($event)"></app-form-item-dynamic>
                    </ng-container>
                    
                </td>
               
             
            </tr>
        </tbody>
    </nz-table>

    <div class="child-table">
        <ng-container *ngIf="detail">
            <app-lzcommon-table [isAttachDataModal]="true" [alertModal]="true" [isAutoData]="true" [requestType]="'GET'" [requestUrl]="url" [requestParams]="requestParams" [requestDataType]="requestDataType">
            </app-lzcommon-table>
        </ng-container>
        <ng-container *ngIf="!detail">
            <common-local-data [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [alertModal]="true" [resid]="subResid" [ldData]="_ldData" (updateEM)="updateData($event)" [addFormName]="addFormName" [operationOrginButton]="[true,true,false,true]" [tabs]="tabs"></common-local-data>
        </ng-container>
    </div>
</div>


<ng-container *ngIf="!_theMainModal">
    <lz-modal-frame (closeEM)="_theMainModal = true" [width]="700">
        <app-form-item-resource [alertModal]="true" [advDictionaryListData]="advDictionaryListData" [data]="data" (formItemResourceNoti)="formItemResourceNoti($event)"></app-form-item-resource>
    </lz-modal-frame>
</ng-container>