<div [class.hidden]="_theModalName != 'main'">

  <div class="components-table-demo-control-bar">
    <form nz-form [nzLayout]="'inline'">
      <div nz-row nz-form-item>
        <button nz-button (click)="addDataClick()" [nzType]="'primary'">
              <span>申请</span>
          </button>
      </div>
      <div nz-row nz-form-item *ngIf="filterData.length">
        <nz-dropdown>
          <a class="ant-dropdown-link" nz-dropdown>
            {{_filterSelectObj?.title}} <i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let filterObj of filterData" (click)="filterClick($event,filterObj)">
              <a target="_blank" rel="noopener noreferrer">{{filterObj.title}}</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>

      <div nz-row nz-form-item *ngIf="isExport">
        <button nz-button (click)="exportXls()" [nzLoading]="_btnExportLoading" [nzType]="'primary'">
              <span>导出</span>
          </button>
      </div>
      <div nz-form-item nz-row>
        <nz-input *ngIf="isAutoData && serchEnable" name="serach" [(ngModel)]="searchValue" [nzPlaceHolder]="'搜索'" (ngModelChange)="searchChange($event)">
        </nz-input>
      </div>

      <ng-content select=".table-menu"></ng-content>
    </form>
  </div>

  <nz-table *ngIf="!havTableFilter" class="common-table" #nzTable [nzScroll]="{ y: 500 }" [nzAjaxData]="_dataSet" [nzLoading]="_loading" [nzShowSizeChanger]="true"
    [nzTotal]="_total" [(nzPageIndex)]="current" (nzPageIndexChange)="_refreshData()" [(nzPageSize)]="pageSize" (nzPageSizeChange)="_refreshData()">
    <!-- <ng-template #nzFixedHeader> -->
    <thead nz-thead>
      <tr>
        <!-- ±êÌâ -->
        <th nz-th *ngFor="let title of titleArr">
          <span>{{title.text}}</span>
          <table-filter (updateDataEM)="tableFilterUpdateData($event)" [titleID]="title.id" [copyData]="copyData" [filterColArr]="filterColArr" [sortColArr]="sortColArr"></table-filter>
        </th>
      </tr>
    </thead>
    <!-- </ng-template> -->
    <tbody nz-tbody>
      <tr #dataTr nz-tbody-tr *ngFor="let data of nzTable.data;let dataIndex = index">
        <td nz-td *ngFor="let title of titleArr">{{data[title.id]}}</td>

        <!-- ¹Ì¶¨°´Å¥×é -->
        <td *ngIf="operationOrginButton[0]">
          <button nz-button [nzType]="'primary'" (click)="detailClick($event,data,dataIndex)"><span>详情</span></button>
        </td>
        <td *ngIf="operationOrginButton[1]">
          <button nz-button [nzType]="'default'" (click)="operationClick($event,data,dataIndex)"><span>操作</span></button>
        </td>
        <td *ngIf="operationOrginButton[2]">
          <button nz-button [nzType]="'default'" (click)="attachTableClick($event,data,dataIndex)"><span>附表</span></button>
        </td>
        <td *ngIf="operationOrginButton[3]">
          <button nz-button [nzType]="'danger'" (click)="deleteClick(data)"><span>删除</span></button>
        </td>

        <!-- ×Ô¶¨Òå°´Å¥×é -->
        <td nz-td *ngFor="let btn of operationButton;let i = index">
          <button nz-button [nzType]="btn.type" [nzLoading]="btn.loading" (click)="btnClick($event,i,data)"><span>{{btn.title}}</span></button>
        </td>

        <ng-container *ngFor="let btn of _tableBtnArr;let btnI = index">
          <td nz-td *ngIf="btn.Show && btn.Type == 1 && tableBtnStrArr[btnI] && data[tableBtnStrArr[btnI]] == 'Y'">
              <button nz-button (click)="serveMenuClick($event,btnI,btn,dataIndex)">
                  <span>{{btn.Name1}}</span>
              </button>
          </td>
      </ng-container>
      </tr>
    </tbody>
  </nz-table>

  <nz-table *ngIf="havTableFilter" class="common-table" #nzTable [nzDataSource]="_dataSet" [nzPageSize]="50" [nzScroll]="{ y: 500 }" [nzLoading]="_loading" [nzShowSizeChanger]="true">
    <!-- <ng-template #nzFixedHeader> -->
    <thead nz-thead>
      <tr>
        <!-- ±êÌâ -->
        <th nz-th *ngFor="let title of titleArr">
          <span>{{title.text}}</span>
          <table-filter (updateDataEM)="tableFilterUpdateData($event)" [titleID]="title.id" [copyData]="copyData" [filterColArr]="filterColArr" [sortColArr]="sortColArr"></table-filter>
        </th>
      </tr>
    </thead>
    <!-- </ng-template> -->
    <tbody nz-tbody>
      <tr #dataTr nz-tbody-tr *ngFor="let data of nzTable.data;let dataIndex = index">
        <td nz-td *ngFor="let title of titleArr">{{data[title.id]}}</td>

        <!-- ¹Ì¶¨°´Å¥×é -->
        <td *ngIf="operationOrginButton[0]">
          <button nz-button [nzType]="'primary'" (click)="detailClick($event,data,dataIndex)"><span>详情</span></button>
        </td>
        <td *ngIf="operationOrginButton[1]">
          <button nz-button [nzType]="'default'" (click)="operationClick($event,data,dataIndex)"><span>操作</span></button>
        </td>
        <td *ngIf="operationOrginButton[2]">
          <button nz-button [nzType]="'default'" (click)="attachTableClick($event,data,dataIndex)"><span>附表</span></button>
        </td>
        <td *ngIf="operationOrginButton[3]">
          <button nz-button [nzType]="'danger'" (click)="deleteClick(data)"><span>删除</span></button>
        </td>

        <!-- ×Ô¶¨Òå°´Å¥×é -->
        <td nz-td *ngFor="let btn of operationButton;let i = index">
          <button nz-button [nzType]="btn.type" [nzLoading]="btn.loading" (click)="btnClick($event,i,data)"><span>{{btn.title}}</span></button>
        </td>

        <ng-container *ngFor="let btn of _tableBtnArr;let btnI = index">
          <td nz-td *ngIf="btn.Show && btn.Type == 1 && tableBtnStrArr[btnI] && data[tableBtnStrArr[btnI]] == 'Y'">
              <button nz-button (click)="serveMenuClick($event,btnI,btn,dataIndex)">
                  <span>{{btn.Name1}}</span>
              </button>
          </td>
      </ng-container>
      </tr>
    </tbody>
  </nz-table>
  
</div>

<ng-container *ngIf="_theModalName == 'form-readonly'" [ngSwitch]="pageName">
  <goods-detail *ngSwitchCase="'needEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [data]="_selectData" (closeNoti)="windowModalNoti($event)"></goods-detail>
  <goods-detail-noEnter *ngSwitchCase="'noEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [data]="_selectData" (closeNoti)="windowModalNoti($event)"></goods-detail-noEnter>  
  <goods-detail-securityEnter *ngSwitchCase="'securityEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [data]="_selectData" (closeNoti)="windowModalNoti($event)"></goods-detail-securityEnter>  
  <goods-detail-securityOut *ngSwitchCase="'securityOut'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [data]="_selectData" (closeNoti)="windowModalNoti($event)"></goods-detail-securityOut>  
  <goods-detail-factoryMove *ngSwitchCase="'factoryMove'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [data]="_selectData" (closeNoti)="windowModalNoti($event)"></goods-detail-factoryMove>  
  <goods-detail-moveIn *ngSwitchCase="'moveIn'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [data]="_selectData" (closeNoti)="windowModalNoti($event)"></goods-detail-moveIn>    
</ng-container>

<ng-container *ngIf="_theModalName == 'form'" [ngSwitch]="pageName">
  <goods-operation *ngSwitchCase="'needEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [data]="_selectData" [addFormName]="addFormName" (eventNoti)="modalFormNoti($event)"></goods-operation>
  <goods-operation-noEnter *ngSwitchCase="'noEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [data]="_selectData" [addFormName]="addFormName" (eventNoti)="modalFormNoti($event)"></goods-operation-noEnter>  
  <goods-operation-securityEnter *ngSwitchCase="'securityEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" [data]="_selectData" (eventNoti)="modalFormNoti($event)"></goods-operation-securityEnter>  
  <goods-operation-securityOut *ngSwitchCase="'securityOut'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" [data]="_selectData" (eventNoti)="modalFormNoti($event)"></goods-operation-securityOut>  
  <goods-operation-factoryMove *ngSwitchCase="'factoryMove'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" [data]="_selectData" (eventNoti)="modalFormNoti($event)"></goods-operation-factoryMove>  
  <goods-operation-moveIn *ngSwitchCase="'moveIn'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" [data]="_selectData" (eventNoti)="modalFormNoti($event)"></goods-operation-moveIn>    
</ng-container>

<ng-container *ngIf="_theModalName == 'addDataForm'" [ngSwitch]="pageName">
  <goods-add *ngSwitchCase="'needEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid"  [addFormName]="addFormName" (eventNoti)="modalFormNoti($event)"></goods-add>
  <goods-add-noEnter *ngSwitchCase="'noEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" (eventNoti)="modalFormNoti($event)"></goods-add-noEnter>
  <goods-add-securityEnter *ngSwitchCase="'securityEnter'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" (eventNoti)="modalFormNoti($event)"></goods-add-securityEnter>
  <goods-add-securityOut *ngSwitchCase="'securityOut'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" (eventNoti)="modalFormNoti($event)"></goods-add-securityOut>
  <goods-add-factoryMove *ngSwitchCase="'factoryMove'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" (eventNoti)="modalFormNoti($event)"></goods-add-factoryMove>
  <goods-add-moveIn *ngSwitchCase="'moveIn'" [isEditCustomPosition]="isEditCustomPosition" [isAddCustomPosition]="isAddCustomPosition" [tabs]="tabs" [resid]="resid" [subResid]="subResid" [addFormName]="addFormName" (eventNoti)="modalFormNoti($event)"></goods-add-moveIn>
</ng-container>