
<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab *ngFor="let tab of tabs">
    <ng-template #nzTabHeading>
      待提交
    </ng-template>
    <app-extend-table #unApproveTable 
    [pageName]="'securityOut'" 
    [isAutoData]="true" 
    [subResid]="subResid" 
    [requestType]="'GET'"
      [requestUrl]="url" 
      [requestParams]="requestParams" 
      [requestDataType]="requestDataType" 
      [operationOrginButton]="[true,true,false,false]"
      [addFormName]="addFormName" 
      [tabs]="tabs" 
      [isEditCustomPosition]="isEditCustomPosition"
       [isAddCustomPosition]="isAddCustomPosition"
      [operationButton]="operationButton" 
      (operationBtnNoti)="operationBtnNoti($event)">
    </app-extend-table>
  </nz-tab>

  <nz-tab *ngFor="let tab of tabs">
    <ng-template #nzTabHeading>
      已提交
    </ng-template>
    <app-lzcommon-table #RejectTable
    [tabs]="tabsA"
    [isAutoData]="true"
    [alertModal]="true"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestSubmitParams"
    [requestDataType]="requestDataType"
    [operationOrginButton]="[true,false,false,false]"
    [operationButton]="operationButtonB" 
    (operationBtnNoti)="operationBtnNotiB($event)"
     ></app-lzcommon-table>

  </nz-tab>
  <nz-tab *ngFor="let tab of tabs">
    <ng-template #nzTabHeading>
      已撤销
    </ng-template>
    <app-lzcommon-table #CancelTable
    [tabs]="tabsB"
    [isAutoData]="true"
    [alertModal]="true"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestCancelParams"
    [requestDataType]="requestDataType"
    [operationOrginButton]="[true,false,false,false]"
    >
  </app-lzcommon-table>
  </nz-tab>

  <nz-tab *ngFor="let tab of tabs">
    <ng-template #nzTabHeading>
      已审批
    </ng-template>
    <app-lzcommon-table
    [tabs]="tabsC"
    [isAutoData]="true"
    [alertModal]="true"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestCheckParams"
    [requestDataType]="requestDataType"
    [operationOrginButton]="[true,false,false,false]"
   >
     </app-lzcommon-table>
  </nz-tab>
  <nz-tab *ngFor="let tab of tabs">
    <ng-template #nzTabHeading>
      已拒绝
    </ng-template>
    <app-lzcommon-table
    [tabs]="tabsD"
    [isAutoData]="true"
    [alertModal]="true"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestRejectParams"
    [requestDataType]="requestDataType"
    [operationOrginButton]="[true,false,false,false]"
     >
       </app-lzcommon-table>
  </nz-tab>
  <nz-tab *ngFor="let tab of tabs">
    <ng-template #nzTabHeading>
      待放行
    </ng-template>
    <app-lzcommon-table
    [tabs]="tabsE"
    [isAutoData]="true"
    [alertModal]="true"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestUnpassParams"
    [requestDataType]="requestDataType"
    [operationOrginButton]="[true,false,false,false]"
    >      </app-lzcommon-table>
  </nz-tab>
  <nz-tab *ngFor="let tab of tabs">
    <ng-template #nzTabHeading>
      已放行
    </ng-template>
    <app-lzcommon-table
    [tabs]="tabsF"
    [isAutoData]="true"
    [alertModal]="true"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestPassParams"
    [requestDataType]="requestDataType"
    [operationOrginButton]="[true,false,false,false]"
    
    >
     </app-lzcommon-table>
  </nz-tab>

  <nz-tab *ngFor="let tab of tabs">
    <ng-template #nzTabHeading>
      拒绝放行
    </ng-template>
    <app-lzcommon-table
    [tabs]="tabsG"
    [isAutoData]="true"
    [alertModal]="true"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestErrorPassParams"
    [requestDataType]="requestDataType"
    [operationOrginButton]="[true,false,false,false]"
     >
     </app-lzcommon-table>
  </nz-tab>
</nz-tabset>