

<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab >
    <ng-template #nzTabHeading>
       未审查
    </ng-template>
    <div [class.hidden]="isDetaillShow">
    <app-lzcommon-table #unpolicecheckTable
    [isAutoData]="true"
    [requestType]="'GET'"
    [requestUrl]="url"
    [tabs]="tabs"
    [alertModal]="true"
    [requestParams]="requestParams"
    [requestDataType]="requestDataType"
    [operationOrginButton]="[false,false,false,false]"
    [operationButton]="operationButton"
    (operationBtnNoti)="operationBtnNoti($event)"
    ></app-lzcommon-table></div>
    <ng-container *ngIf="isDetaillShow">
        <app-modal-form 
        (eventNoti)="closeModal($event)"
        [tabs]="tabs"
        [data]="selectData"
        [isMainData]="true"
        [resid]="requestParams.resid">
             <app-lzcommon-table
             [isAutoData]="true"
             [requestType]="'GET'"
             [requestUrl]="childurl"
             [alertModal]="true"
             [requestParams]="childrequestParams"
             [requestDataType]="childrequestDataType"
             [serchEnable]="false"
             [isAttachDataModal]="true"
             [tabs]="tabsB"
             [operationOrginButton]="[false,true,false,false]"
             >

            </app-lzcommon-table>
          </app-modal-form>  
    </ng-container>
  </nz-tab>
  <nz-tab >
      <ng-template #nzTabHeading>
         已审查
      </ng-template>
      <div [class.hidden]="isDetaillOverShow">
      <app-lzcommon-table #requestOverPtable
      [tabs]="tabs"
      [isAutoData]="true"
      [alertModal]="true"
      [requestType]="'GET'"
      [requestUrl]="url"
      [requestParams]="requestOverParams"
      [requestDataType]="requestDataType"
      [operationOrginButton]="[false,false,false,false]"
      [operationButton]="operationButtonB"
      (operationBtnNoti)="operationBtnNotiB($event)"
      ></app-lzcommon-table></div>
      <ng-container *ngIf="isDetaillOverShow">
        <app-modal-form 
        (eventNoti)="closeOver($event)"
        [tabs]="tabs"
        [data]="selectDataB"
        [isMainData]="true"
        [resid]="requestOverParams.resid">
             <app-lzcommon-table
             [isAutoData]="true"
             [requestType]="'GET'"
             [requestUrl]="childurl"
             [alertModal]="true"
             [requestParams]="childrequestParams"
             [requestDataType]="childrequestDataType"
             [serchEnable]="false"
             [isAttachDataModal]="true"
             [tabs]="tabsA"
             [operationOrginButton]="[true,false,false,false]"
             >

            </app-lzcommon-table>
          </app-modal-form>  
    </ng-container>
    </nz-tab>
    <nz-tab >
      <ng-template #nzTabHeading>
         已拒绝
      </ng-template>
      <div [class.hidden]="isDetaillErrorShow">
      <app-lzcommon-table #requestErrorPtable
      [tabs]="tabsB"
      [isAutoData]="true"
      [alertModal]="true"
      [requestType]="'GET'"
      [requestUrl]="url"
      [requestParams]="requestErrorParams"
      [requestDataType]="requestDataType"
      [operationOrginButton]="[false,false,false,false]"
      [operationButton]="operationButtonC"
      (operationBtnNoti)="operationBtnNotiC($event)"
      ></app-lzcommon-table></div>
      <ng-container *ngIf="isDetaillErrorShow">
        <app-modal-form 
        (eventNoti)="closeError($event)"
        [tabs]="tabs"
        [data]="selectDataC"
        [isMainData]="true"
        [resid]="requestErrorParams.resid">
             <app-lzcommon-table
             [isAutoData]="true"
             [requestType]="'GET'"
             [requestUrl]="childurl"
             [alertModal]="true"
             [requestParams]="childrequestParams"
             [requestDataType]="childrequestDataType"
             [serchEnable]="false"
             [isAttachDataModal]="true"
             [tabs]="tabsA"
             [operationOrginButton]="[true,false,false,false]"
             >

            </app-lzcommon-table>
          </app-modal-form>  
    </ng-container>
    </nz-tab>
    <nz-tab >
      <ng-template #nzTabHeading>
         待返回
      </ng-template>
      <div [class.hidden]="isDetaillWaitShow">
      <app-lzcommon-table #requestWaitPtable
      [tabs]="tabsB"
      [isAutoData]="true"
      [alertModal]="true"
      [requestType]="'GET'"
      [requestUrl]="url"
      [requestParams]="requestWaitParams"
      [requestDataType]="requestDataType"
      [operationOrginButton]="[false,false,false,false]"
      [operationButton]="operationButtonD"
      (operationBtnNoti)="operationBtnNotiD($event)"
      ></app-lzcommon-table></div>
      <ng-container *ngIf="isDetaillWaitShow">
        <app-modal-form 
        (eventNoti)="closeWait($event)"
        [tabs]="tabs"
        [data]="selectDataB"
        [isMainData]="true"
        [resid]="requestWaitParams.resid"
        >
             <app-lzcommon-table
             [isAutoData]="true"
             [requestType]="'GET'"
             [requestUrl]="childurl"
             [alertModal]="true"
             [requestParams]="childrequestParams"
             [requestDataType]="childrequestDataType"
             [serchEnable]="false"
             [isAttachDataModal]="true"
             [tabs]="tabsA"
             [operationOrginButton]="[true,false,false,false]"
             
             >

            </app-lzcommon-table>

          </app-modal-form>  
          
    </ng-container>
    <ng-container *ngIf="!_theMainModal">
        <lz-modal-frame (closeEM)="_theMainModal = true" [width]="700">
            <app-add-form-data [alertModal]="alertModal" [addFormName]="addFormName"  [resid]="resid" [recid]="recid"  [isCustomPosition]="isAddCustomPosition"
            (eventNoti)="modalFormNoti($event)"></app-add-form-data>
            <!-- [formname]="formname"  -->
            <!-- <app-form-item-resource [alertModal]="true" [advDictionaryListData]="advDictionaryListData" (formItemResourceNoti)="formItemResourceNoti($event)"></app-form-item-resource> -->
        </lz-modal-frame>
    </ng-container>
    </nz-tab>
</nz-tabset>